/* FONTS */
/*****************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*****************************/
/* VARIABLES */
/*****************************/
:root {
    --charcoal: #424B54;
    --pewter-blue: #93A8AC;
    --white: #FFFFFF;
    --cameo-pink: #E2B4BD;
    --copper-rose: #9B6A6C;
}


/*****************************/
/* GLOBAL RESET */
/*****************************/
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

 /* 62.5% of 16px browser font size is 10px */
html {
    font-size: 62.5%;
    
}

a {
    text-decoration: none;
}

/*****************************/
/* BODY */
/*****************************/

body {
    height: 100vh;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 5rem;

    font-family: 'Raleway', sans-serif;
    color: var(--charcoal);
}

/*****************************/
/* NAVIGATION BAR */
/*****************************/
nav {
    font-size: 2rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: end;

    margin: 1rem;
}

.title {
    justify-self: start;
    font-weight: bold;
}

.title a:visited,
.title a:active,
ul a:visited,
ul a:active {
    color: #93A8AC;
}


nav ul {
    list-style: none;

    display: flex;
    gap: 3rem;
}

/*****************************/
/* HEADER */
/*****************************/

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10rem;

}

.block {
    width: 30rem;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cameo-pink);

}

/*****************************/
/* PHOTO SECTIONS */
/*****************************/


/* MAYBE TURN THIS ONE INTO GRID? */ 💥💥💥💥
.photo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-top: 5rem;
}

.photo-section h1 {
    align-self: flex-start;
    padding-left: 7rem;
}

.photos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.photos img {
    width: 40vw;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.fashion img {
    height: 67vh;
    width: auto;
}


/*****************************/
/* ABOUT ME PAGE */
/*****************************/

.about-me {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.left-side:first-child {
    margin-top: 5rem;
}

table {
    margin-top: 5rem;
    text-align: center;
    border: #424b5464 solid thin;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 1rem;
}

th {
    padding-bottom: 1rem;
    border-bottom: #424B54;
}

.right-side img {
    width: 25vw;
    border-radius: 5%;
}

/*****************************/
/* FOOTER */
/*****************************/

footer {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: auto;
}